<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.opensymphony.xwork2" level="ERROR" >
        	<AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="org.apache.struts2" level="ERROR">
			<AppenderRef ref="STDOUT"/>        
        </Logger>
        <Logger name="action" level="DEBUG"/>
        <Logger name="biz" level="DEBUG" >
        	<AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="common" level="DEBUG">
			<AppenderRef ref="STDOUT"/>        
        </Logger>
        <Logger name="dao" level="DEBUG">
			<AppenderRef ref="STDOUT"/>        
        </Logger>>
        <Logger name="entity" level="DEBUG">
			<AppenderRef ref="STDOUT"/>        
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Root>
        
    </Loggers>
    
</Configuration>